In [1]:
import pandas as pd

df = pd.DataFrame( {"groups" : ["a","b","c","a","b","c"],
                   "var1" : [10,20,30,40,50,60],
                   "var2" : [101,202,303,404,505,606]},
                    columns= ["groups","var1","var2"] )

In [2]:
df

  groups  var1  var2
0      a    10   101
1      b    20   202
2      c    30   303
3      a    40   404
4      b    50   505
5      c    60   606

In [5]:
df["var1"] * 9

0     90
1    180
2    270
3    360
4    450
5    540
Name: var1, dtype: int64

In [11]:
df_a=df.iloc[:,1:2]

In [12]:

df_a.transform( lambda x: x-x.mean() )

   var1
0 -25.0
1 -15.0
2  -5.0
3   5.0
4  15.0
5  25.0

In [14]:
a=df.groupby("groups")

In [15]:
a